#AuthModal {
  width: 480px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  .ModalContent{
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 1px #444;
    border-radius: 10px;
    input {
      padding: 10px 5px;
      width: 100%;
    }
  }
  #LoginBtn{
    background: $purple;
    color: $white;
    padding: 10px 30px;
  }
  .local-signin{
    h3{
      text-transform: uppercase;
      color: $purple;
      font-size: 20px;
      margin: 0px;
    }
  }
  .social-signin{
    margin-top: 20px;
    h4{
      text-align: center;
      position: relative;
      color: $dark;
      font-size: 16px;
      text-transform: uppercase
    }
    .alternative{
      border-bottom: 1px solid $off-white;
      margin-bottom: 20px;
    }
    .social-btn{
      button{
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .form-footer{
    border-top: 1px solid #ddd
  }

  header {
    background-color: $purple;
    border-radius: 50px;
    button {
      width: 50%; 
    }
    button[aria-selected="true"] {
      background: $purple-dark;
      border-radius: 50px
    }
    button:focus{
      outline: 1px solid transparent;
    }
    span {
      background-color: transparent !important;
    }

  }
}

#header{
  .nav-tabs{
    width: 100%;
    .nav-item{
      width: 50%
    }
  }
}


.social-btn{
  button{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .navbar-logo-small-screen {
    text-align: center;
    width: 100%;
  }
  .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}