@import '~antd/dist/antd.css';

html {
  background-color: #f0f0f0;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

#root {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 100%;*/
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input.ant-input{
  border-radius: 0px;
}